@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
}

strong {
    color: rgb(9, 122, 228);
    font-weight: 600;
}

/* Header (Hero & Nav) Section */
header {
    display: flex;
    align-items: center;
}

.nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: 0.3s;

    &:hover {
        color:rgb(9, 122, 228);
    }
}

.nav ul li {
    list-style: none;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    width: 100vw;
    margin: 0;
    padding: 0 45px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Main Content */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.about {
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: flex-start; /* evenly */
    align-items: center;
    flex-direction: column;
}

.about .content {
    display: flex;
    gap: 75px;
}

.about .header {
    font-size: 36px;
    letter-spacing: 10px;
    color:rgb(9, 122, 228)
}

#profile-img {
    flex: 1;
}

#profile-img img {
    height: 600px;
}

#about-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 65vw;
    gap: 25px;
}

#writing p {
    font-size: 1.2rem;
}

#writing p a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;

    &:hover {
        color: white;
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

#stack,
#soft-skills,
#links {
    display: flex;
    flex-grow: 1;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 16px;
    overflow-y: auto;
}

/* Tech Stack Container */
#stack,
#soft-skills {
    flex-direction: column;
    justify-content: flex-start;
}

#stack #header,
#soft-skills #header {
    padding: 10px 0 0 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-weight: 600;
    justify-content: flex-start;
}

#stack #container,
#soft-skills #container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    /* flex: 1; */
    padding: 10px;
}

#skill-type {
    background-color: white;
    border-radius: 16px;
    font-size: 1rem;
    padding: 2px 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);

    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: rgb(9, 122, 228);
        color: white;
    }
}

#skill-type .tooltip {
    visibility: hidden;
    opacity: 0;
    width: 180px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: opacity 0.3s;
    pointer-events: none;
}

#skill-type:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Global Style */
.slide-in {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.slide-in.visibile {
    transform: translateX(0);
    opacity: 1;
}